.steps
  &-form-container
    margin: 90px auto 0
    // background-color: blue
    padding: 15px 10px

    &-inner
      padding: 30px 15px
    h1
      line-height: 1
      font-size: 35px
      text-transform: capitalize
      margin-bottom: 35px
      text-align: center
    .steps-progress
      width: 100%
      display: flex
      align-items: flex-start
      flex-direction: row
      justify-content: space-between
      margin: 40px 0

      .single-step
        position: relative
        width: 25%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        &.step-completed
          p
            color: $color-primary

          &::after
            width: 100% !important

          .step-number
            background: rgb(0,0,0)
            background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(175,154,50,1) 100%)
            p
              color: white

        &:not(:last-child):before
          content: ""
          width: 100%
          position: absolute
          height: 5px
          background-color: #f1f4f8
          top: 28px
          left: 50%
          z-index: -1

        &:not(:last-child):after
          content: ""
          width: 0
          position: absolute
          height: 5px
          background: rgb(0,0,0)
          background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(175,154,50,1) 100%)
          top: 28px
          left: 50%
          z-index: -1
          transition: all .5s

        p
          font-size: 20px
          padding-top: 5px

        .step-number
          margin: 0 auto
          display: flex
          align-items: center
          justify-content: center
          border-radius: 50%
          height: 60px
          width: 60px
          background-color: #f2f4f8

          p
            color: $color-primary
            font-size: 34px
            padding: 0

    .steps-form
      .form-step
        opacity: 0
        transition: all 1s

        button

        &.step-current
          opacity: 1
          // display: block

      .step-title
        text-align: center

        p:first-of-type
          font-size: 20px
          font-weight: 700

        p
          font-weight: 300
          font-size: 15px
          padding-bottom: 15px

      .form-fields

        fieldset
          display: flex
          flex-direction: column
          margin-top: 25px
          border: none
          border-bottom: 2px solid $color-primary
          background: $color-primary
          border-radius: 5px

          label
            padding: 5px
            font-size: 20px

          input
            width: 100%
            border: none
            font-size: 24px
            font-weight: 300
            outline: none
            padding: 5px
            text-transform: uppercase
            &::placeholder
              text-transform: capitalize
